header{
    position: fixed; 
    left: 0; 
    top: 0; 
    z-index: 9999;
    display: flex;
    align-items: center;
    width: 100%;
    height: 88px;
    background-color: #fff;
    transition: all .5s;
}
.headerInner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding: 0 55px;
}
.headerInner > h1{
    width: 179px;
}
.headerInner > h1 > a{
    display: block;
    width: 100%;
}
.headerInner > h1 > a > img{
	width: 100%;
}
nav{
    width: 65%;
    font-size: 24px;
    font-weight: 500;
    font-family: var(--fn-gmk-md);
}
nav > ul{
    display: flex;
}
nav > ul > li{
    margin-right: 8%;
}
nav > ul > li > a{
    position: relative;
    display: block;
}
nav > ul > li > a::after{
    position: absolute;
    left: 0;
    top: 52px;
    display: none;
    content: "";
    width: 100%;
    height: 4px;
    background-color: #003c83;
}
nav > ul > li:hover a::after{
    display: block;
}

.nav.active{
    color: #003c83;
    font-weight: bold;
}

.mbHeader{
    position: relative;
    display: none;
    width: 100%;
    height: 100%;
}
.mbHeader > h1 > a{
    display: block;
    max-width: 150px;
}
.mbHeader > h1 > a > img{
    width: 100%;
}
.mbHeader > button{
    position: absolute;
    right: 29.3px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.mbNav{
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: #fff;
}
.mbNav ul{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 55%;
    font-size: 24px;
    font-weight: 500;
    color: #545454;
    font-family: var(--fn-gmk-md);
}
.mbNav ul li a.active{
    color: #003c83;
    font-weight: bold;
}

@media all and (max-width : 1024px){
    header{
        height: 97px;
    }
    .headerInner{
        display: none;
    }
    .mbHeader{
        display: flex;
        justify-content: center;
    	align-items: center;
    }
}