.subTop{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 67px;
}
.subTop{
    width: 100%;
    height: 561px;
    margin-top: 88px;
    background-image: url(../front_img/subBack.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-color: #fff5e0;
}
.subTop > p{
    padding-bottom: 23px;
    color: #fff;
    letter-spacing: -0.4px;
    font-size: 20px;
    font-family: var(--fn-sans);
}
.subTop > h2{
    letter-spacing: -1.92px;
    font-size: 48px;
    font-weight: 500;
    font-family: var(--fn-gmk-md);
    color: #fff;
}
@media all and (max-width : 1024px){
    .subTop{
	    width: 100%;
	    height: 354px;
	    margin-top: 88px;
	    background-image: url(../front_img/subBack.png);
	    background-repeat: no-repeat;
	    background-size: cover;
	    background-position: center;
	    background-color: linear-gradient(to top, rgb(255, 245, 224) 0%, rgb(245, 242, 232) 100%);
	    background-color: #f5f2e8;
	}
	.subTop {
	    justify-content: flex-start;
	    padding-bottom: 0;
	    padding-top: 35px;
	}
    .subTop > p {
        padding-bottom: 12px;
        font-size: 18px;
    }
    .subTop > h2{
        letter-spacing: -1.28px;
        font-size: 32px;
    }
}
/* 탭 네비 */
.tabNav li.active {
    background:#003c83;
    color:#fff;
}
.tabInner{
    display: none;
}
.tabInner.active {
    display: block;
}

.tabMenuWrap{
    border-bottom: solid 1px #e8e8e8;
}
.tabNav{
    display: flex;
    justify-content: center;
    margin: 0 auto;
    padding: 51px 0 0 0;
}
.tabNav.san{
    position: relative;
}
.tabNav.san > span{
    position: absolute;
    bottom: -10%;
    left: 3%;
    width: 18%;
}
.tabNav.san img {
    width: 100%;
}
.tabNav > li:first-child{
    margin-right: 40px;
}
.tabNav.san > li:nth-of-type(-n + 2){
    margin-right: 36px;
}
.tabNav > li{
    width: 440px;
    height: 60px;
    line-height: 65px;
    text-align: center;
    border: solid 1px #e8e8e8;
    border-bottom: 0;
    cursor: pointer;
    color: #313131;
    font-family: var(--fn-gmk-md);
    letter-spacing: -1.4px;
    font-size: 30px;
    font-weight: 500;
    background-color: #fff;
}
.tabNav > li > a{
	display: block;
}
/* 탭 컨텐츠 */
.tabInnerWrap{
    width: 100%;
}
.tabInner{
    width: 100%;
}
.intro{
    max-width: 1280px;
    width: 100%;
    padding: 74px 72px;
    margin: 94px auto 0;
    border-radius: 20px;
    box-shadow: 0 3px 73px 0 rgba(189, 224, 213, 0.27);
    background-color: #fff;
    transition: all .5s;
}
.back01{
    width: 100%;
    padding-bottom: 134px;
    background-image: url(../front_img/left-circle.webp), url(../front_img/right-circle02.webp), url(../front_img/right-circle01.webp);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30%, 14%, 17%;
    /* background-size: 30%, 14%, 17%; */
    background-position: -160px 20px, 104% 590px, 96% 350px;
    /* background-position: -8.33% 31.25%, 88.54 59.89%, 78.125% 47.91%; */
}
.back02{
    width: 100%;
    padding-bottom: 134px;
    background-image: url(../front_img/left-circle.webp), url(../front_img/right-circle02.webp), url(../front_img/right-circle01.webp);
    background-repeat: no-repeat, no-repeat, no-repeat;
    background-size: 30%, 14%, 17%;
    /* background-size: 30%, 14%, 17%; */
    background-position: -160px -80px, 104% 590px, 96% 350px;
    /* background-position: -8.33% 31.25%, 88.54 59.89%, 78.125% 47.91%; */
}
.intro p{
    margin-bottom: 51px;
    font-size: 38px;
    font-weight: 500;
    font-family: var(--fn-gmk-md);
    letter-spacing: -1.52px;
    color: #003c83;
}
.intro ul{
    letter-spacing: -0.8px;
    font-size: 20px;
    font-weight: 300;
    font-family: var(--fn-gmk-lt);
}
.intro ul li:nth-of-type(-n + 3){
    padding-bottom: 40px;
    line-height: 1.55;
}
.Chal{
    max-width: 1000px;
    margin: 0 auto;
    padding: 37px 0 243px 0;
}
.Chal img{
    width: 100%;
}
@media all and (max-width : 1024px){
    .tabMenuWrap{
        border-bottom: 0;
    }
    .tabNav.san > span{
        display: none;
    }
    .tabNav > li:first-child{
        margin-right: 0;
    }
    .tabNav.san > li:nth-of-type(-n + 2){
        margin-right: 0;
    }
    .tabNav > li{
        width: 440px;
        height: 45.4px;
        max-width: 192.5px;
        line-height: 45.4px;
        text-align: center;
        border: solid 1px #e8e8e8;
        border-bottom: solid 1px #e8e8e8;
        letter-spacing: -0.6px;
        font-size: 15px;
    }
    .introWrap{
        padding: 0 22px;
    }
    .intro{
	    padding: 41px 28px;
	}
    .intro p {
        width: 210px;
        margin-bottom: 36px;
        font-size: 32px;
        font-weight: 500;
        letter-spacing: -1.28px;
    }
    .intro ul {
        font-size: 13px;
        line-height: 1.92;
    }
    .intro ul li:nth-of-type(-n + 3){
	    padding-bottom: 20px;
	    line-height: 1.55;
	}
    .Chal{
        max-width: 1000px;
        margin: 0 auto;
        padding: 42px 0 0 0;
    }
}
@media all and (max-width : 768px){
    .intro p {
        width: 180px;
        font-size: 26px;
        font-weight: 500;
        letter-spacing: -1.28px;
    }
}
/* 악산 */
.sanWrap{
    max-width: 1396px;
    width: 100%;
    margin: 0 auto;
    padding: 41px 22px 282px 22px;
}
.topBox{
    display: grid;
    grid-template-columns: 30% 70%;
    padding: 15px 50px 15px 16px;
    border-radius: 20px;
    box-shadow: 0 3px 30px 0 rgba(52, 116, 147, 0.15);
    background-color: #fff;
}
.descSan{
	display: block;
    min-width: 317px;
    margin-right: 28px;
    border-radius: 20px;
    overflow: hidden;
}
.descSan > img{
    width: 100%;
}
.mbDescSan{
    display: none;
}
.topBox ul{
	
    padding-top: 18px;
}
.topBox ul li:first-child{
    padding-bottom: 10px;
    font-size: 30px;
    font-family: var(--fn-gmk-bd);
    letter-spacing: -1.2px;
    color: #003c83;
}
.topBox ul li:last-child{
    padding-bottom: 10px;
    font-size: 20px;
    font-family: var(--fn-gmk-md);
    letter-spacing: -0.8px;
    line-height: 1.75;
}
.topBox ul li:last-child span{
    color: #003c83;
}
.sanList{
    display: grid;
    grid-template-columns: repeat(3, 30%);
    justify-content: space-between;
    grid-row-gap: 100px;
    width: 100%;
    margin-top: 72px;
}
.sanList > li{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    /*overflow: hidden;*/
}
.sanList > li > span{
    display: block;
    max-width: 403px;
    max-height: 293px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
}
.sanList > li > span > img{
    width: 100%;
    height: 70%;
    transition: all .3s;
	object-fit: cover;
}
.sanDesc{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 23px;
}
.sanDesc div p{
    font-size: 28px;
    letter-spacing: -1.12px;
    font-family: var(--fn-gmk-md);
}
.sanDesc a{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 181px;
    height: 50px;
    border-radius: 25px;
    border: solid 1px #004385;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fn-sans);
    letter-spacing: -0.8px;
    color: #004385;
    transition: all .3s;
    overflow: hidden;
}
.sanDesc a::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-color: #004385;
    transition: all 0.3s ease;
}
.sanDesc a:hover {
    color: #fff;
}
.sanDesc a:hover::after {
    top: 0;
    height: 100%;
}
.sanList > li:hover span > img{
    transform: scale(1.05);
}
@media all and (max-width : 1024px){
    .descSan{
        display: none;
    }
    .mbDescSan{
        display: block;
    }
    .topBox{
        position: relative;
        display: flex;
        padding: 15px 50px 164px 16px;
    }
    .mbDescSan{
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
    }
    .mbDescSan > img{
        width: 100%;
        max-height: 144px;
    }
    .topBox ul{
    	width: 100%;
    }
    .topBox ul li:last-child {
        font-size: 15px;
        letter-spacing: -0.6px;
        line-height: 1.67;
    }
    .sanList {
        display: grid;
        grid-template-columns: repeat(2, 48%);
        justify-content: space-between;
        grid-row-gap: 10px;
        width: 100%;
        margin-top: 72px;
    }
    .sanList > li > span{
        position: relative;
     }
    .gra{
    	position: absolute;
    	top: 0;
	    left: 0;
    	width: 100%;
	    height: 100%;
    	background: linear-gradient(to top, rgba(0, 0, 0, 0.95), rgba(0, 0, 0, 0) 55%);
    }
    .sanDesc a {
        width: 100%;
        top: -149px;
        right: 50%;
        transform: translateX(50%);
        border: 0;
        font-size: 20px;
        font-weight: normal;
        letter-spacing: -0.44px;
        color: #fff;
    }
    .sanDesc a::after {
        display: none;
    }
    .sanDesc a:hover {
        color: #fff;
    }
    .sanDesc a:hover::after {
        top: 0;
        height: 100%;
    }
    .sanDesc {
        display: flex;
        justify-content: unset;
        flex-direction: column;
        margin-top: 23px;
    }
    .sanDesc > div{
        margin: 0 auto;
        text-align: center;
    }
    .sanDesc div p{
        font-size: 18px;
        letter-spacing: -0.72px;
    }
    .topBox ul li:first-child{
	    padding-bottom: 19px;
	}
}
@media all and (max-width : 768px){
    .sanDesc a {
        top: -120px;
    }
    .sanDesc a {
        font-size: 11px;
    }
}
/* 산디테일 */
.sanBack{
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 428px;
    background-image: url(../front_img/sanBack.webp);
    background-size: cover;
}
.sanTitle h3{
    position: relative;
    z-index: 2;
    margin-bottom: 15px;
    padding-top: 82px;
    font-size: 48px;
    letter-spacing: -1.92px;
    font-family: var(--fn-gmk-bd);
    color: #fff;
}
.seeList{
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 140px;
    height: 50px;
    border-radius: 25px;
    background-color: #003e7b;
    letter-spacing: -0.8px;
    font-size: 20px;
    font-weight: 500;
    font-family: var(--fn-sans);
    color: #fff;
    transition: all .3s;
}
.seeList:hover{
    background-color: #fff;
    color: #003e7b;
    border: 1px solid #003e7b;
}
.sanInfo{
    position: absolute;
    top: 280px;
    z-index: 2;
    display: flex;
    width: 80%;
    justify-content: center;
}
.sanInfo li{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 246px;
    height: 257px;
    margin-right: 30px;
    padding: 48px 0 42px 0;
    border-radius: 20px;
    box-shadow: 0 3px 30px 0 rgba(52, 116, 147, 0.15);
    background-color: #fff;
    font-family: var(--fn-gmk-md);

}
.sanInfo .top{
    font-size: 18px;
    letter-spacing: -0.72px;
    color: #347493;
}
.sanInfo .bottom{
    font-size: 28px;
    letter-spacing: -1.12px;
}
.sanInfo a.bottom:hover{
    text-decoration-line: underline;
}
.bgColor{
    position: absolute;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}
/* 산디테일 내용 */
.detailDescWrap{
    /*max-width: 1248px;*/
    margin: 0 auto;
    padding-top: 175px;
}
.sanText{
    display: grid;
    grid-template-columns: 20% 80%;
    align-items: flex-start;
    max-width: 1248px;
    margin: 0 auto;
    font-family: var(--fn-gmk-md);
}
.sanText h4{
    /* margin-right: 91px; */
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.12px;
    color: #004385;
}
.sanText h4.firstTitle{
	margin-right: 91px;
}
.sanText > p{
    font-size: 18px;
    line-height: 1.94;
    letter-spacing: -0.72px;
}
.sanImgs {
    width: 80%;
    height: fit-content;
    overflow: hidden;
    margin: 52px 0 100px 0;
    transform: translateX(25%);
}
.sanText h4.openTitle{
    display: flex;
    flex-direction: column;
    line-height: 1.61;
}
.swiper02 > .swiper-wrapper > .swiper-slide{
    text-align:center;
	display:flex;
	align-items:center;
	justify-content:center;
    border-radius: 20px;
    box-shadow: 0 3px 30px 0 rgba(52, 116, 147, 0.15);
    overflow: hidden;
}
.swiper02 .swiper-slide > img{
	width: 100%;
	height: 358px;
	object-fit: cover;
}
.openList{
	
    font-size: 18px;
}
.openList p, .openList .sanTime{
    padding-bottom: 30px;
    color: #0f8b95;
    letter-spacing: -0.72px;
}
.sanCourse01, .sanCourse02{
    display: flex;
}
.sanCourse01 span:first-child{
    width: 15%;
    padding-top: 8px;
    padding-right: 10px;
}
.sanCourse02 span:first-child{
    width: 15%;
    padding-top: 8px;
	padding-right: 10px;
}
.openList .sanCourse01 span:last-child, .openList .sanCourse02 span:last-child{
    width: 85%;
    line-height: 1.94;
    color: #000;
}
.sanText.sanCome{
	margin-top: 20px;
}

.kakaoMap{
    width: 100%;
    height: 690px;
    margin-top: 56px;
    background-color: #000;
}
.around{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 105px 0 110px 0;
    font-family: var(--fn-gmk-md);
    background-color: #0f8b95;
    color: #fff;
}
.around h4{
    padding-bottom: 54px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.12px;
}
.around a{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1396px;
    width: 100%;
    height: 80px;
    padding: 5px 55px 0 55px;
    border-radius: 40px;
    border: solid 1px #fff;
    font-size: 28px;
    transition: all .3s;
}
.around a:last-child{
    margin-top: 30px;
}
.around a:hover{
    background-color: #fff;
    color: #0f8b95;
}
.otherSan{
    max-width: 1396px;
    margin: 0 auto;
    padding: 102px 22px 161px 22px;
    font-family: var(--fn-gmk-md);
}
.otherSan h4{
    padding-bottom: 56px;
    font-size: 28px;
    font-weight: bold;
    letter-spacing: -1.12px;
    color: #0f8b95;
    text-align: center;
}
.otherSan ul{
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 93px;
}
.otherSan ul li{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
    width: 30%;
}
.otherSan ul li:last-child{
    margin-right: 0;
}
.otherSan ul li span{
	position: relative;
    display: block;
    width: 100%;
    max-width: 416px;
    max-height: 226px;
    min-height: 226px;
    border-radius: 20px;
    overflow: hidden;
}
.otherSan ul li span img{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
    width: 100%;
    transition: all .3s;
    
}
.otherSan ul li:hover span img{
    transform: scale(1.1);
}
.btmBtn{
    display: flex;
    justify-content: center;
    width: 100%;
}
.imgfff{
    display: none;
}
@media all and (max-width : 1024px){
    .sanBack {
        height: 229px;
    }
    .sanTitle h3 {
        padding-top: 44px;
        padding-left: 12px;
        font-size: 26px;
    }
    .seeList {
        width: 96px;
        height: 40px;
        font-size: 15px;
    }
    .sanInfo{
        position: absolute;
        top: 160px;
        z-index: 2;
        display: flex;
        width: 80%;
        justify-content: center;
        border-radius: 20px;
        box-shadow: 0 3px 30px 0 rgba(52, 116, 147, 0.15);
        background-color: #fff;
    }
    .sanInfo li{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-right: 0;
        padding: 39px 0 38px 0;
        border-radius: 0;
        box-shadow: none;
        background-color: unset;
    }
    .sanInfo li span{
        min-width: 40px;
        width: 17%;
    }
    .sanInfo li span img{
        width: 100%;
    }
    .sanInfo .top {
        padding-top: 23px;
        font-size: 11px;
    }
    .sanInfo .bottom {
        padding-top: 13px;
        font-size: 18px;
        text-align: center;
    }
    .sanInfo li.telBox{
        position: absolute;
        top: 230px;
        display: flex;
        flex-direction: unset;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 80px;
        margin-right: 0;
        padding: 0 0 0 0;
        border-radius: 20px;
        box-shadow: none;
        background-color: #347493;
        color: #fff;
    }
    .sanInfo li.telBox .top{
        padding: 0 4px 0 15px;
        color: #fff;
    }
    .kakaoMap {
	    height: 405px;
	}
    .imgColor{
        display: none;
    }
    .imgfff{
        display: block;
    }
    .sanInfo a.bottom{
        padding-top: 0;
    }
    .detailDescWrap {
        padding-top: 0;
        padding: 347px 35px 0 35px;
    }
    .sanText {
        display: flex;
        flex-direction: column;
    }
    .sanText h4 {
        width: 100%;
        padding-bottom: 21px;
        font-size: 25px;
        letter-spacing: -1px;
    }
    .sanCourse01, .sanCourse02{
    	display: flex;
        flex-direction: column;
    }
    .sanCourse01 span:first-child {
	    width: 100%;
	    padding-bottom: 20px;
	}
	.sanCourse02 span:first-child {
	    width: 100%;
	    padding-bottom: 20px;
	}
	.openList .sanCourse01 span:last-child, .openList .sanCourse02 span:last-child {
	    width: 100%;
	    line-height: 1.94;
	    color: #000;
	}
    .sanImgs {
        width: 100%;
        overflow: hidden;
        margin: 52px 0 100px 0;
        transform: translateX(0);
    }
    .sanText h4.openTitle {
        width: 100%;
        flex-direction: row;
    }
    .sanText h4.openTitle span:first-child{
        padding-right: 8px;
    }
    .openList p:nth-of-type(2), .openList p:nth-of-type(3) {
        flex-direction: column;
    }
    .openList p:nth-of-type(2) span:first-child {
        width: 100%;
        padding-bottom: 20px;
    }
    .openList p:nth-of-type(3) span:first-child {
        width: 100%;
        padding-bottom: 20px;
    }
    .around{
        padding: 70px 50px 162px 50px;
    }
    .around h4 {
        font-size: 25px;
    }
    .around a {
        justify-content: center;
        height: 72px;
        padding: 5px 5px 0 5px;
        font-size: 20px;
    }
    .around a i{
        display: none;
    }
    .otherSan {
        padding: 102px 22px 0 22px;
    }
    .otherSan h4 {
        font-size: 25px;
        letter-spacing: -1px;
    }
    .otherSan ul{
        width: 100%;
        padding-bottom: 0px;
    }
    .otherSan ul li{
	    width: 50%;
	    margin-right: 10px;
    }
    .otherSan ul li:last-child{
        display: none;
    }
    .otherSan ul li span{
	    /*max-height: 207px;*/
	    width: 100%;
	}
	.otherSan ul li:nth-of-type(2){
	    margin-right: 0;
	}
	.swiper02 .swiper-slide > img{
		/*height: 274px;*/
		width: 100%;
	}
}
@media all and (max-width : 768px){
	.swiper02 .swiper-slide > img{
		width: 100%;
		height: 180px;
	}
}
@media all and (max-width : 400px){
	.swiper02 .swiper-slide > img{
		width: 100%;
		height: 150px;
	}
}
/* 이벤트 */
.eventListWrap{
    max-width: 1488px;
    margin: 0 auto;
    padding: 50px 14px 185px 14px;
}
.eventBox{
    display: grid;
    grid-template-columns: repeat(2, 49%);
    justify-content: space-between;
    grid-gap: 20px;
}
.eventBox > li {
    padding: 18px;
    border-radius: 10px;
    border: solid 1px #e8e8e8;
}
.eventBox > li:hover > a > span > img{
	transform: scale(1.05);
}
.eventBox > li > a{
    display: flex;
    align-items: center;
}
.eventBox > li > a > span{
    display: block;
    max-width: 300px;
    overflow: hidden;
    border-radius: 10px;
}
.eventBox > li > a > span > img{
    width: 100%;
    transition: all .3s;
}
.boxRight{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    margin-left: 5%;
    padding: 28px 0;
    font-family: var(--fn-sans);
}
.boxRight p{
    padding-bottom: 108px;
    letter-spacing: -0.96px;
    font-size: 24px;
    font-family: var(--fn-gmk-md);
}
.descs li{
    display: flex;
    align-items: center;
}
.descs li:nth-of-type(-n + 2){
    margin-bottom: 8px;
}
.descs li span{
    display: block;
}
.descs li span:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
    padding:  4px 8px;
    margin-right: 11px;
    border-radius: 15.5px;
    background-color: #e8e8e8;
    font-size: 13px;
    letter-spacing: -0.52px;
}
.descs li span:last-child{
    font-size: 18px;
    letter-spacing: -0.99px;
}
.emptyImg{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	padding: 85px 20px 0 20px;
	font-family: var(--fn-gmk-md);
}
.emptyImg > img{
	width: 100%;
	max-width: 445.3px;
}
.emptyImg > p{
	padding-top: 82.6px;
	letter-spacing: -1.92px;
	font-size: 48px;
  	font-weight: 500;
}
.emptyImg > p > span{
	color: #80b212;
}
@media all and (max-width : 1291px){
    .descs li span:last-child{
        font-size: 14px;
        letter-spacing: -0.99px;
    }
    .emptyImg > p{
		padding-top: 40px;
		letter-spacing: -1.92px;
		font-size: 20px;
	  	font-weight: 500;
	}
}
@media all and (max-width : 1024px){
    .eventBox{
        display: grid;
        grid-template-columns: repeat(1, 99%);
        justify-content: space-between;
        grid-gap: 20px;
    }
    .boxRight {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
        margin-left: 5%;
        padding: 9px 0;
        font-family: var(--fn-sans);
    }
    .boxRight p {
        font-size: 18px;
        padding-bottom: 13px;
    }
    .descs li span:last-child{
        font-size: 13px;
    }
}
/* 이벤트 상세 */
.eventDeWrap{
    /* max-width: 1488px;
    margin: 0 auto; */
    width: 100%;
    padding: 50px 14px 185px 14px;
}
.eTop{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 29.5px;
    font-family: var(--fn-gmk-md);
    border-bottom: 1px solid #e8e8e8;
}
.eTop p:first-child{
    padding-bottom: 10px;
    letter-spacing: -1.2px;
    font-size: 30px;
}
.eTop p:nth-child(2){
    padding-bottom: 30px;
    font-family: var(--fn-sans);
    font-size: 18px;
    font-weight: 500;
    letter-spacing: -0.99px;
    color: #888;
}
.eBottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1488px;
    margin: 0 auto;
    padding: 60.5px 0 84.5px 0;
    font-family: var(--fn-sans);
}
.eBottom p{
    margin-bottom: 85px;
    line-height: 1.94;
}
.eBottom img{
    width: 50%;
    margin-bottom: 20px;
}
.eBtn{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 84.5px;
    border-top: 1px solid #e8e8e8;
}
/* 공지사항 */
.mNoti.listP{
    font-size: 18px;
    border-top: none;
    border-bottom: 1px solid #e8e8e8;
    color: #000;
    text-align: left;
}
.mNoti.listP li:nth-of-type(2){
    text-align: left;
}
.mNoti.listP li:nth-of-type(2):hover a{
	text-decoration-line: underline;
}
@media (max-width: 1024px){
	.mNoti.Noti {
	    grid-template-columns: 15% 65% 20%;
	    font-size: 15px;
	}
	.mNoti.listP{
	    grid-template-columns: 15% 65% 20%;
	    font-size: 15px;
	}
    .mNoti.listP li {
        width: 100%;
        white-space: unset;
        text-overflow: unset;
        overflow: unset;
    }
    .mNoti.Noti li:nth-of-type(3) {
	    display: block;
	}
	.mNoti.listP li:nth-of-type(3) {
	    display: block;
	}
    .eBottom img{
	    width: 100%;
	    margin-bottom: 20px;
	}
}